<title-bar back-path="/plans/{{main.plan.id}}"></title-bar>

<menu></menu>

<div class="modal" ng-class="{ active: main.yearsVisible }" ng-include="'/views/partials/plans/years.html'"></div>

<div class="modal" ng-class="{ active: main.monthsVisible }" ng-include="'/views/partials/plans/months.html'"></div>

<div class="content">
  <div class="content-padded">
    <h1>Edit Meal Plan</h1>

    <div ng-include="'/views/partials/plans/form.html'"></div>
    <a ng-href="/plans/{{main.plan.id}}" class="btn btn-block">Cancel</a>
  </div>
</div>
