<title-bar back-path="/plans"></title-bar>

<menu></menu>

<div class="bar bar-standard bar-footer">
  <a class="icon icon-trash pull-left" ng-click="main.deletePlan()"></a>
  <a class="icon icon-edit pull-right" ng-href="/plans/{{main.plan.id}}/edit"></a>
</div>

<div class="modal" ng-class="{ active: main.deletePromptVisible }">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" ng-click="main.cancelDelete()"></a>
  </header>

  <div class="content">
    <h2>Are you sure you want to delete this meal plan?</h2>
    <button type="button" class="btn btn-block" ng-click="main.cancelDelete()">No</button>
    <button type="button" class="btn btn-block" ng-click="main.confirmDelete()">Yes</button>
  </div>
</div>

<div class="content">
  <div class="content-padded">
    <h1>{{main.plan.month | monthName}} {{main.plan.year}}</h1>
  </div>

  <div calendar="main.plan"></div>

  <div class="content-padded">
    <a href="/plans/{{main.plan.id}}/list" class="btn btn-block">View Shopping List</a>
  </div>
</div>
