<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half-desktop">
        <h1 class="is-lowercase">New Recipe</h1>
      </div>
    </div>
  </div>
</section>

<%= live_render(@conn, CookbookWeb.RecipeFormView) %>
