.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;

  &:last-of-type {
    padding-right: 0;
  }
}

.col-15 {
  width: 15%;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-70 {
  width: 70%;
}

.col-75 {
  width: 75%;
}
