.purchased {
  color: #929292;

  input {
    color: #000;
  }
}

form {
  .quantity {
    margin-bottom: 0;
  }

  .description div {
    padding-top: 5px;
  }
}

.item-options {
  padding-top: 16px;
}
