<title-bar back-path="/plans/{{main.plan.id}}"></title-bar>

<menu></menu>

<div class="bar bar-standard bar-footer">
	<a class="icon icon-trash pull-left" ng-click="main.deleteList()"></a>
	<a class="icon icon-edit pull-right" ng-href="/plans/{{main.plan.id}}/list/edit"></a>
</div>

<div class="modal" ng-class="{ active: main.deletePromptVisible }">
	<header class="bar bar-nav">
		<a class="icon icon-close pull-right" ng-click="main.cancelDelete()"></a>
	</header>

	<div class="content">
		<h2>Are you sure you want to delete this shopping list?</h2>
		<button type="button" class="btn btn-block" ng-click="main.cancelDelete()">No</button>
		<button type="button" class="btn btn-block" ng-click="main.confirmDelete()">Yes</button>
	</div>
</div>

<div class="content">
	<div class="content-padded">
		<h1>Shopping List for {{main.plan.month | monthName}} {{main.plan.year}}</h1>
	</div>

	<ul class="table-view">
		<li id="item_{{$index}}" class="table-view-cell full-width" ng-repeat="item in main.list.items | orderBy:'createdAt'">
			<div class="grid" ng-class="{ purchased: item.purchased }">
				<div class="col-15">
					<input id="item_{{$index}}_purchased" type="checkbox" ng-model="item.purchased" ng-change="main.saveList()">
				</div>

				<div class="quantity col-15" ng-click="main.togglePurchased(item)">
					{{item.quantity | number:0}}
				</div>

				<div class="description col-70" ng-click="main.togglePurchased(item)">
					{{item | ingredientDescription}}
				</div>
			</div>
		</li>
	</ul>

	<div class="content-padded">
		<button type="button" class="btn btn-block" ng-click="main.regenerateShoppingList()">Regenerate Shopping List</button>
	</div>
</div>
